@import url('https://fonts.googleapis.com/css2?family=Josefin+Sans&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;600&family=Josefin+Sans&family=Texturina:ital,wght@0,200;0,400;1,200&display=swap');
#logo{
    padding-top: 3px;
    height: 60px;
}

html { /* body won't work ¯\_(ツ)_/¯ */
  scroll-snap-type: y proximity;
}


 .texto2, a, h2, span, p{
 	font-family: 'Josefin Sans', sans-serif;
 }

.texto1{
  font-family: 'Caveat', cursive;
	font-family: 'Josefin Sans', sans-serif;
	font-family: 'Texturina', serif;
	text-align: right;
 }

 #mobile-demo a{
 	color: #ffffff;
 }

.txt{
	text-align: right;
}

section {
  margin-top: 2%;
  padding-top: 75px;
  padding-bottom: 75px;
  height: 100%;
  width: 100%;
  scroll-snap-align: start;
  scroll-snap-type: y proximity;
} 

h4{
  font-size: 28px;
}

#git{
  height: 28px;
  margin-top: 4px;

}

.btn2, .btn3{
  color: black;
}

.btn3 span{
  margin-left: 8px;
}

.card-reveal{
  opacity: .97 ;
}

  

@media (max-width: 600px) {
    #logo {
      height: 52px;
    }
    .txt{
	    text-align: center;
    }
    h2{
      font-size: 48;
    }
    h4{
      font-size: 24px;
    }

    section{
      section {
      margin-top: 1%;
      padding-top: 25px;
      padding-bottom: 25px;
      height: 100%;
      width: 100%;
      scroll-snap-align: start;
      scroll-snap-type: y proximity;
} 

    }
    .btn3{
      margin-top: 10px;
    }
}

@media (max-width: 1920px) {
  section{
    width: auto;
    height: 100%;
  }
  
}
